name: {{PRODUCT}}
version: {{VERSION}}
summary: {{SUMMARY}}
description: |
    {{DESCRIPTION}}

grade: {{SNAP_GRADE}}
confinement: {{SNAP_CONFINEMENT}}
base: core20

apps:
    {{PRODUCT}}:
        command: /opt/redis-stack/bin/redis-server -p /opt/redis-stack/etc/redis-stack.conf
        plugs:
          - network
    REDISINSIGHT:
        command: /opt/redis-stack/nodejs/bin/node -r /opt/redis-stack/share/redisinsight/api/node_modules/dotenv/config share/redisinsight/api/dist/src/main.js dotenv_config_path=/opt/redis-stack/share/redisinsight/.env
        plugs:
          - network