[Unit]
Description=RedisInsight
After=network.target
PartOf=redis-stack.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=nobody
Environment="SERVER_STATIC_CONTENT=1"
Environment="API_PORT=8081"
WorkingDirectory=/opt/redis-stack
ExecStart=/opt/redis-stack/nodejs/bin/node share/redisinsight/server/src/main.js

[Install]
WantedBy=multi-user.target
