[Unit]
Description=redis-stack-server
After=network.target
#PartOf=redis-stack.service

[Service]
Type=simple
User=nobody
Restart=always
RestartSec=1
User=nobody
ExecStart=/opt/redis-stack/bin/redis-server /etc/redis-stack.conf --dir /var/lib/redis-stack
ExecStop=/bin/kill -s TERM ${MAINPID}

[Install]
WantedBy=multi-user.target
