[Unit]
Description=redis-stack
After=network.target
Wants=redisinsight.service
Wants=redis-stack-redis.service

[Service]
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
