name: Build and Publish

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      arch:
        required: false
        type: string
        default: x86_64
      osnick:
        required: true
        type: string
      target:
        required: true
        type: string
      platform:
        required: true
        type: string
      osname:
        required: true
        type: string
      build_deps:
        required: true
        type: string
      packaging_deps:
        required: true
        type: string
      redisversion: 
        required: false
        type: string
      pythonversion: 
        required: false
        type: string
        default: 3.9
      rubyversion:
        required: false
        type: string
        default: 2.7.2
      fpmversion:
        required: false
        type: string
        default: 1.14.1
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      GPG_ID:
        required: true
      GPG_KEY:
        required: true
      GPG_PASSWORD:
        required: true
      GPG_KEYGRIP:
        required: false
      GPG_EMAIL:
        required: false

jobs:

   build-redis:
    name: Build ${{inputs.platform}} (${{inputs.arch}})

    env:
      redisversion: ${{inputs.redisversion}}
      pythonversion: ${{inputs.pythonversion}}
      fpmversion: ${{inputs.fpmversion}}
      rubyversion: ${{inputs.rubyversion}}
    runs-on: ubuntu-latest
    container: ${{inputs.image_name}}
    steps:
    - name: install dependencies
      run: ${{inputs.build_deps}}
    - uses: actions/checkout@v2
      with:
        repository: redis/redis
        path: redis
        ref: ${{env.redisversion}}
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          /var/cache/apt
          /var/cache/yum
        key: cache-${{hashFiles('.github/workflows/redis.yml')}}-${{inputs.platform}}-${{inputs.arch}}-build
    - name: make
      run: make -C redis/src all BUILD_TLS=yes
    - name: package redis for s3
      run: |
        mkdir redis-${{env.redisversion}}-${{inputs.osname}}-${{inputs.osnick}}-${{inputs.arch}}
        cp redis/src/redis-server \
           redis/src/redis-sentinel \
           redis/src/redis-check-aof \
           redis/src/redis-check-rdb \
           redis/src/redis-benchmark \
           redis/src/redis-cli \
           redis-${{env.redisversion}}-${{inputs.osname}}-${{inputs.osnick}}-${{inputs.arch}}
        tar -czvf redis-${{env.redisversion}}-${{inputs.osname}}-${{inputs.osnick}}-${{inputs.arch}}.tgz \
           redis-${{env.redisversion}}-${{inputs.osname}}-${{inputs.osnick}}-${{inputs.arch}}
    - name: install s3cmd
      run: |
        pip3 install s3cmd
    - name: persist redis to s3
      run: |
        s3cmd --access_key=${{secrets.AWS_ACCESS_KEY_ID}} --secret_key=${{secrets.AWS_SECRET_ACCESS_KEY}} --region=us-east-1 put -P redis-${{env.redisversion}}-${{inputs.osname}}-${{inputs.osnick}}-${{inputs.arch}}.tgz \
          s3://redismodules/redis-stack/dependencies/redis-${{env.redisversion}}-${{inputs.osname}}-${{inputs.osnick}}-${{inputs.arch}}.tgz

    - name: perist redis
      uses: actions/upload-artifact@v2
      with:
        name: redis-${{env.redisversion}}-${{inputs.platform}}
        path: |
          redis/src/redis-server
          redis/src/redis-sentinel
          redis/src/redis-check-aof
          redis/src/redis-check-rdb
          redis/src/redis-benchmark
          redis/src/redis-cli

   package:
    name: Package ${{inputs.platform}} (${{inputs.arch}}) ${{matrix.package}}
    env:
      redisversion: ${{inputs.redisversion}}
      pythonversion: ${{inputs.pythonversion}}
      fpmversion: ${{inputs.fpmversion}}
      rubyversion: ${{inputs.rubyversion}}
      platform: ${{inputs.platform}}
      osname: ${{inputs.osname}}
      osnick: ${{inputs.osnick}}
      arch: ${{inputs.arch}}
      target: ${{inputs.target}}

    runs-on: ubuntu-latest
    needs: [build-redis]
    strategy:
      matrix:
        package: ['redis-stack-server']  # add the matrix back if multiple packages are a thing againt

    steps:
      - uses: actions/checkout@v2
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            /var/cache/apt
            /var/cache/yum
            ~/.cache/pip
            ~/.cache/pypoetry
            ~/.local/share/gem
          key: pypoetry-${{hashFiles('pyproject.toml')}}-${{inputs.platform}}-${{inputs.arch}}-package

      - uses: ruby/setup-ruby@v1
      - name: install python
        uses: actions/setup-python@v2
        with:
          python-version: ${{env.pythonversion}}
      - name: install poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-in-project: true
          virtualenvs-create: true
          installer-parallel: true

      - name: install packaging tools
        run: |
          sudo ${{inputs.packaging_deps}}
          poetry install
      - run: gem install fpm -v ${{env.fpmversion}}
      - uses: actions/download-artifact@v2
        with:
          name: redis-${{env.redisversion}}-${{env.platform}}
          path: deps/redis-${{env.redisversion}}-${{env.platform}}
      - name: display structure
        run: ls -R
      - name: build ${{matrix.package}}
        run: |
          source .venv/bin/activate
          invoke package -o ${{env.osname}} -s ${{env.osnick}} -d ${{env.platform}} -a ${{env.arch}} -r deps/redis-${{env.redisversion}}-${{env.platform}} -t ${{env.target}} -p ${{ matrix.package }}

      - name: build downloadable tarball
        run: |
          source .venv/bin/activate
          invoke package -o ${{env.osname}} -s ${{env.osnick}} -d ${{env.platform}} -a ${{env.arch}} -r deps/redis-${{env.redisversion}}-${{env.platform}} -t tar -p ${{ matrix.package }}

      - name: install gpg key
        run: |
          cat <(echo -e "${{ secrets.GPG_KEY }}") | gpg --batch --import

      - name: gpg sign package
        if: ${{ env.target }} = 'deb'
        run: |
          if [ -f /usr/bin/dpkg-sig ]; then
            echo '${{secrets.GPG_PASSWORD}}' > .passfile
            dpkg-sig -g '--pinentry-mode loopback --passphrase-file .passfile --batch' -s redis -k ${{secrets.GPG_ID}} *.deb
            rm -f .passfile
          elif [ -f /usr/bin/rpm ]; then
            gpg --export -a '${{ secrets.GPG_EMAIL }}' > key
            rpm --import key
            echo allow-preset-passphrase > ~/.gnupg/gpg-agent.conf
            gpg-connect-agent reloadagent /bye
            /usr/lib/gnupg/gpg-preset-passphrase -P '${{ secrets.GPG_PASSWORD }}' -c --preset ${{ secrets.GPG_KEYGRIP }}
            rpmsign --addsign --key-id ${{ secrets.GPG_ID }} *.rpm
            rm key
          fi

      - name: perist ${{env.target}} package
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.package }}-${{env.platform}}-${{env.arch}}.${{env.target}}
          path: |
            ${{ matrix.package }}*.${{env.target}}
      - name: perist tarball
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.package }}-${{env.platform}}-${{env.arch}}.tar.gz
          path: |
            ${{ matrix.package }}*.tar.gz

      - name: gather packages for s3 upload
        continue-on-error: true
        run: |
          mkdir -p s3uploads
          cp *.${{env.target}} *.tar.gz s3uploads
      - uses: s3-actions/s3cmd@v1.1
        with:
          provider: aws
          region: us-east-1
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: upload snapshots
        if: startsWith(github.ref, 'refs/tags/') != true
        run: |
          s3cmd put -P s3uploads/* s3://redismodules/redis-stack/snapshots/
      - name: upload release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          s3cmd put -P s3uploads/* s3://redismodules/redis-stack/

   test-packages:
      env:
        platform: ${{inputs.platform}}
        arch: ${{inputs.arch}}
        target: ${{inputs.target}}
        pythonversion: ${{inputs.pythonversion}}
      needs: [package]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: install python
          uses: actions/setup-python@v2
          with:
            python-version: ${{env.pythonversion}}
        - uses: actions/cache@v2
          with:
            path: |
              /var/cache/apt
              /var/cache/yum
              ~/.cache/pip
              ~/.cache/pypoetry
              ~/.local/share/gem
            key: pypoetry-${{hashFiles('pyproject.toml')}}-${{env.platform}}-${{env.arch}}-package
        - name: install poetry
          uses: snok/install-poetry@v1
          with:
            version: latest
            virtualenvs-in-project: true
            virtualenvs-create: true
            installer-parallel: true
        - name: get package version
          id: get_version
          run: |
            poetry install
            source .venv/bin/activate
            realversion=`invoke version -p redis-stack-server`
            echo "::set-output name=VERSION::$realversion"

        # now, fetch from s3 and install to the redis-stack directory
        - name: get packages from s3
          run: |
            mkdir redis-stack
            wget -q \
              https://redismodules.s3.amazonaws.com/redis-stack/snapshots/redis-stack-server-${{steps.get_version.outputs.VERSION}}-1.${{env.platform}}.${{env.arch}}.${{env.target}} \
              -O redis-stack/redis-stack-server.${{env.target}}
            wget -q \
              https://redismodules.s3.amazonaws.com/redis-stack/snapshots/redis-stack-server-${{steps.get_version.outputs.VERSION}}-1.${{env.platform}}.${{env.arch}}.tar.gz \
              -O redis-stack/redis-stack-server.tar.gz

        - name: validate packages
          run: |
            source .venv/bin/activate
            pytest -m ${{env.platform}}