name: Publish release

on:
  release:
    types: [published]

jobs:
  promote_releases:
    runs-on: ubuntu-latest
    env:
      pythonversion: 3.9
      s3root: s3://redismodules/redis-stack/

    steps:
      - uses: actions/checkout@v2
      - name: install python
        uses: actions/setup-python@v2
        with:
          python-version: ${{env.pythonversion}}
      - name: install poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-in-project: true
          virtualenvs-create: true
          installer-parallel: true
      - name: get package version
        id: get_version
        run: |
          poetry install
          source .venv/bin/activate
          realversion=`invoke version -p redis-stack-server -d true`
          echo "::set-output name=VERSION::$realversion"
      - uses: s3-actions/s3cmd@v1.1
        with:
          provider: aws
          region: us-east-1
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: get files from s3
        run: |
          mkdir s3uploads/
          s3cmd get ${{env.s3root}}/sanpshots/*${{ steps.get_version.outputs.VERSION }}/* s3uploads/
      - name: publish all files to s3
        run: |
          s3cmd put -P s3uploads/* ${{ env.s3root }}
      - name: Log in to DockreHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: publish dockers
        run: |
          for i in redis-stack redis-stack-server; do
            docker pull redis/${i}:${{ steps.get_version.outputs.VERSION}}-edge
            docker tag redis/${i}:${{ steps.get_version.outputs.VERSION}}-edge redis/${i}:${{steps.get_version.outputs.VERSION}}
            docker push redis/${i}:${{ steps.get_version.outputs.VERSION}}
          done